{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }}{% trans "Profile" %}{% endblock %}


{% block container %}
<!-- Benefits of the Django application -->

<div class="profile-head">
<h2>{%  trans "Welcome" %} {{ user.first_name }} {{ user.last_name }}!</h2>
</div>

<div class="profile-body">
    <div class="container">
    <div id="js-container">
    </div>
    </div>
</div>



{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="https://fb.me/react-0.14.7.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js"></script>
<script type="text/babel" src="{% static 'site/js/indexReact.jsx' %}">
{% endblock scripts %}